[Unit]
Description=ORF Local Private Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/mnt/data1/orf/local-private-service
EnvironmentFile=/mnt/data1/orf/secrets/orf-local-private-service.env
Environment=PATH=/opt/orf/node/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/opt/orf/node/bin/npm run start
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
